* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  padding: 0;
  overflow-x: hidden;
  margin: 0;
}

#background-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

/* Hide the spinner */
#nprogress .spinner {
  display: none;
}

#__next {
  height: 100%;
  overflow-x: hidden;
}

/* customize the scrollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: var(--main-background-color);
}
::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
